<h1>Order Summary</h1>

<h3>Total: <%= @order.total_price %></h3>

<div class="row">
  <% @order.user_products.each do |user_product| %>
    <div class="col-md-4">
      <div class="card" style="margin: 5px 5px">
        <%= image_tag(user_product.product.image_url, class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title"><%= user_product.product.name %></h5>
          <p class="card-text"><%= user_product.product.price_format %></p>
          <%= link_to("View Product in Store", "/products/#{user_product.product.id}", class: "btn btn-primary") %>
        </div>
      </div>
    </div>
  <% end %>
</div>