<h1>Edit product</h1>

<%= form_tag("/products/#{@product.id}", method: :put) do %>
  <%= label_tag(:name, "Enter product's name:") %>
  <br>
  <%= text_field_tag(:name, @product.name) %>
  <br>
  <%= label_tag(:category_id, "Select a Product Category:") %>
  <br>
  <%= select_tag(:category_id, options_from_collection_for_select(@categories, :id, :name, @product.category_id), prompt: "Select Product Category") %>
  <br>
  <%= label_tag(:description, "Enter product's description:") %>
  <br>
  <%= text_area_tag(:description, @product.description, size: "40x10") %>
  <br>
  <%= label_tag(:image_url, "Enter a URL to your product's image:") %>
  <br>
  <%= text_field_tag(:image_url, @product.image_url) %>
  <br>
  <%= label_tag(:price, "Enter product price:") %>
  <br>
  <%= number_field_tag(:price, @product.price) %>
  <br>
  <%= submit_tag("Update product!") %>
<% end %>