<h1>Create new product</h1>

<%= form_tag("/products", method: :post) do %>
  <%= label_tag(:name, "Enter product's name:") %>
  <br>
  <%= text_field_tag(:name) %>
  <br>
  <%= label_tag(:description, "Enter product's description:") %>
  <br>
  <%= text_area_tag(:description, nil, size: "40x10") %>
  <br>
  <%= label_tag(:price, "Enter product price:") %>
  <br>
  <%= number_field_tag(:price) %>
  <br>
  <%= submit_tag("Create product!") %>
<% end %>