<h3><%= @product.name %></h3>
<p><%= @product.price_format %></p>
<p><%= @product.description %></p>
<%= link_to("Edit Product", "/products/#{@product.id}/edit") %>
<%= link_to("Delete Product", "/products/#{@product.id}", method: :delete, data: {confirm: "Are you sure?"}) %>